@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ApplicationUser currentUser = null;
    if (SignInManager.IsSignedIn(User))
    {
        currentUser = UserManager.GetUserAsync(User).Result;
    }
}

<ul class="navbar-nav">
    @if (currentUser != null)
    {
        <li class="nav-item">
            <a class="nav-link" href="#">Hello @currentUser.Name</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
