@using MembershipManagement.Application.Common.Utility
@model RegisterVM
@{
    // Authorization check: Only Super Admins or Branch Managers can access this page
    if (!User.IsInRole("Super Admin") && !User.IsInRole("Branch Manager"))
    {
        <p>Access Denied. You do not have permission to view this page.<br />Only Admin have an access</p>
        return;
    }
}

<section class="vh-100" style="background-color: #12161d;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-11 col-lg-5 d-none d-md-block">
                            <img src="https://images.pexels.com/photos/1838640/pexels-photo-1838640.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form method="post">
                                    <input asp-for="RedirectUrl" hidden />
                                    <h2 class="text-center mb-4" style="color: #ff6219; font-family: 'Pacifico', cursive; font-size: 2.5rem;"><i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>Sign Up</h2>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="mb-4">
                                        <label class="form-label text-light" for="Email">Email address</label>
                                        <input asp-for="Email" type="email" class="form-control form-control-lg" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                    <div class="row mb-4">
                                        <div class="col-md-6">
                                            <label class="form-label text-light" for="Name">Name</label>
                                            <input asp-for="Name" type="text" class="form-control form-control-lg" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label text-light" for="PhoneNumber">Phone Number</label>
                                            <input asp-for="PhoneNumber" type="number" class="form-control form-control-lg" />
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div> 

                                    <div class="mb-4">
                                        <label class="form-label text-light" for="Password">Password</label>
                                        <input asp-for="Password" type="password" class="form-control form-control-lg" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label text-light" for="ConfirmPassword">Confirm Password</label>
                                        <input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>

                                    <div class="row mb-4">
                                        <div class="col-md-6">
                                            <label class="form-label text-light" for="Role">Role</label>
                                            <select asp-for="Role" asp-items="@Model.RoleList" class="form-select">
                                                <option disabled selected>-Select Role-</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label text-light" for="BranchId">Branch</label>
                                            <select asp-for="BranchId" asp-items="@Model.BranchList" class="form-select">
                                                <option disabled selected>-Select Branch-</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block" style="background-color: #ff6219;" type="submit">Register</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/hideForm.js"></script>
}
