@model MembershipManagement.Domain.ViewModels.RegisterVM
@{
    // Authorization check: Only Super Admins or Branch Managers can access this page
    if (!User.IsInRole("Super Admin"))
    {
        <p>Access Denied. You do not have permission to view this page.</p>
        return;
    }
}


<div class="container py-4">
    <div class="card border-0 shadow-lg">
        <div class="card-header bg-info text-white py-3">
            <h2 class="text-center mb-0">Add Branch Admin</h2>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <input asp-for="BranchId" hidden />
                    <label class="form-label">Branch</label>
                    <input asp-for="BranchId" class="form-control mb-2" disabled />
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input asp-for="Role" hidden />
                    <label class="form-label">Admin Role</label>
                    <input asp-for="Role" class="form-control mb-2" disabled />
                </div>
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Phone Number</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-check-circle"></i> Create
                    </button>
                    <a asp-controller="Branch" asp-action="Index" class="btn btn-secondary ms-2">
                        <i class="bi bi-x-circle"></i> Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
