@model Branch

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-danger bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Branch</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="p-3">
                <input asp-for="BranchID" hidden />
                <div class="form-floating py-1 col-12">
                    <input asp-for="BranchName" class="form-control border shadow" readonly />
                    <label asp-for="BranchName" class="ms-2"></label>
                    <span asp-validation-for="BranchName" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Address" class="form-control border shadow" readonly />
                    <label asp-for="Address" class="ms-2"></label>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Country" class="form-control border shadow" readonly />
                    <label asp-for="Country" class="ms-2"></label>
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Province" class="form-control border shadow" readonly />
                    <label asp-for="Province" class="ms-2"></label>
                    <span asp-validation-for="Province" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="PhoneNumber" class="form-control border shadow" readonly />
                    <label asp-for="PhoneNumber" class="ms-2"></label>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Email" class="form-control border shadow" readonly />
                    <label asp-for="Email" class="ms-2"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="ImageURL" hidden class="form-control border shadow" />
                    <input asp-for="Image" class="form-control border shadow" readonly />
                    <label asp-for="ImageURL" class="ms-2 "></label>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger w-100">
                            <i class="bi bi-trash"></i> Delete
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Branch" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
